body{
    background-color: mistyrose;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* #idksomething{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
} */
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.pocetna{
    color: antiquewhite;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightcoral;
    flex-direction: row;
    padding: 0 50px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    margin-top: 50px;
}
.login div{
    display: inherit;
    /* flex-direction: column; */
    gap: inherit;
}

.search{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
.search input{
    width: 500px;
    height: 20px;   
}
.knjige{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 50px;
}

.user{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
.user p{
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
}

.user div{
    padding: 0 15px 10px;
    background-color: bisque;
    border: 2px solid lightcoral;
    border-radius: 5px;
}
.user div div{
    background-color: antiquewhite;
    border: 0;
}
.user div button{
    margin: 10px;
    padding: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
}
.user div div button{
    font-size: 0.7rem;
}
.user div button:hover{
    color: black;
    border: 0;
}
input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
button{
    margin: 10px;
    padding: 5px 25px;
    border-radius: 5px;
    border: 0.5px;
    background-color: lightcoral;
    color: antiquewhite;
}

.help {
    background-color: floralwhite;
    padding: 10px 20px 0px;
    border-radius: 15px;
}

.error-message{
    color: red;
}